<template>
  <require from="../../resources/value-converters/ago"></require>
  <div class="jumbotron hero-jumbotron secondary">
    <div class="container-fluid">
      <h1 tabindex="0">${router.currentInstruction.config.settings.altTitle ? router.currentInstruction.config.settings.altTitle : router.currentInstruction.config.title}</h1>
      <p tabindex="0" class="clearfix">
        ${router.currentInstruction.config.settings.desc}
        <span class="pull-right">
          <label if.bind="lastUpdated ? true : false" tabindex="0" class="label label-default">Updated ${lastUpdated | ago}</label>
        </span>
      </p>
    </div>
  </div>
</template>
