<template>
  <div class="jumbotron hero-jumbotron secondary details">
    <div class="container-fluid">
      <div class="proj-title clearfix">
        <div class="lang-logo">
          <img if.bind="repo.organization == 'foundation'" src="img/language-icons/foundation.svg" onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
          <img if.bind="repo.organization != 'foundation' && repo.language != null" src="img/language-icons/${repo.language.toLowerCase()}.svg" onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
          <img if.bind="repo.language == null && repo.organization != 'foundation'" src="img/language-icons/default.svg">
        </div>
        <h1>${repo.project_name}</h1>
        <p>${repo.language ? repo.language : stageConfig.NO_LANG}</p>
        <div class="btn-group">
          <a class="btn btn-secondary btn-sm" click.delegate="goBack()"><i class="material-icons">chevron_left</i>Back</a>
          <a class="btn btn-secondary btn-sm" href="#" click.trigger="openLeavingSiteConfirmation(repo.organization,repo.repositoryUrl)" target="_blank">View on Github<i class="material-icons">chevron_right</i></a>
        </div>
      </div>
    </div>
  </div>
</template>
