.modal-header{
    padding-left: 25px;
    padding-right: 25px;
    background-color: $modal-header-footer-color;
}

#readme-content {
    h2{
        margin-top: 1.3rem;
    }

    h3 {
        text-transform: uppercase;
        padding-top: 3px;
    }

}