.btn-project-details{
    font-size: 14px;
}
.proj-details-wrapper {
  .hr-related-separator{
    border: 1px solid $lightgray;
  }
  .none-message {
    font-size: 14px;
    font-weight: bold;
    color: darken($lightgray, 10%)
  }
  .collapse.show{
      visibility: visible;
  }
}
.proj-details-wrapper .list-inline{
    margin-left: 0px;
}
#btn-show-readme button{
    margin-left: 15px;
    margin-right: 15px;
}
#show-readme-icon{
    margin-right: 7px;
}

.hero-banner .details .proj-title{
  position: relative;
}
.hero-banner .details .proj-title .lang-logo {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}