.btn-project-details{
    font-size: 14px;
}
.proj-details-wrapper {
  .hr-related-separator{
    border: 1px solid $lightgray;
  }
}
.proj-details-wrapper .list-inline{
    margin-left: 0px;
}
#btn-show-readme button{
    margin-left: 15px;
    margin-right: 15px;
}
#show-readme-icon{
    margin-right: 7px;
}