.repopublishing-page{
    .repo-publishing_download-template-section{
        text-align: center;
        border: solid 1px $primary-color;
        padding: units(1) units(4);
        margin-bottom: units(5);
    
        #a_repository-registration-download-template{
            margin-right: auto;
            margin-left: auto;
            margin-top: units(2);
            font-size: 1.2rem;
            white-space: normal;
    
            #repository-registration-download-template_down-icon{
                margin-left: 2px;
                font-size: 18px;
                vertical-align: -4px;
    
            }
            
        }
    }
    h4{
        font-size: larger;
    }
    .repository-registration_section{
        margin-top: 20px;
    }
    ul {
      margin-top: 0 !important;
      li {
        margin-bottom: units(0.5);
      }
    }
    #background-and-purpose {
      margin-top: 0;
    }
}
.row .left_gray_4x_border{
    border-left-color: $lightgray;
    border-left-style: solid;
    border-left-width: 4px;
}
@include at-media-max('mobile-lg'){
    .row .left-column-image{
        display: none;
    }
    .repository-registration_section .left_gray_4x_border{
        width: 100%;
    }
    .repopublishing-page .repo-publishing_download-template-section #a_repository-registration-download-template{
        font-size: smaller;
    }
}

.example.example_citation{
    padding-left: .75rem!important;
    margin-top: 1rem!important;
    border-left: .25rem solid!important;
    border-color: #f2938c!important;
    display: block;
    padding-left: .75rem!important;

    & .code{
        padding: 2px 0px;
        background-color: rgba(9, 30, 66, 0.08);
        background-color: rgb(249 242 244);
        -webkit-box-decoration-break: clone;
        border-radius: 3px;
        border-style: none;
        margin: 0px 4px;
        
        box-shadow: rgb(249 242 244 / 8%) -4px 0px 0px 0px, rgb(249 242 244 / 8%) 4px 0px 0px 0px;
        line-height: 1.33333333333333;
        letter-spacing: -0.005em;
        overflow-wrap: break-word;
        & code{
            background-color: rgb(249 242 244);
            color: #1b1b1b;
        }
    }

}
