.source-code-guidelines-page{
    .usa-layout-docs__main a{
        text-decoration: underline;
    }
}
#source-code-guidelines_wrapper{
    font-size: 14px; 
}
#ul-guidelines-toc{
    display: none;
    list-style: none;
    padding-left: 0px;

    li.usa-sidenav__item{
        border: none;
        a{
            padding-left: .5rem;
            padding-left: 2rem;
            font-weight: normal;
        }
    }
}
#ul-guidelines-toc.active{
    display: block;
}

.references, .definitions{
    border: transparent 2px solid;
    border-radius: 3px;
    transition: border-color 1s;
    transition: background-color 1s;
    a{
        word-break: break-all;
    }
}
.referred-to-thing{
    padding: 2px 5px;
    border-color: dimgray;
    background-color: gold;
}
