.source-code-guidelines-page{
    .usa-layout-docs__main a{
        text-decoration: underline;
        //color: $teal;
    }
    .references, .definitions{
        border: transparent 2px solid;
        border-radius: 3px;
        transition: border-color 1s;
        transition: background-color 1s;
        padding: 2px 5px;
        a{
            word-break: break-all;
        }
    }
    .referred-to-thing{
        border-color: dimgray;
        background-color: gold;
    }
    a{
        transition: background-color 1s;
        em.material-icons{
            font-size: 15px;
            vertical-align: -2px;
        }
    }
    .original-location{
        background-color: gold;
    }
    .btn.btn-default.btn-return-to-text{
        font-size: small;
        padding: 4px 10px;
        border: $teal 1px solid;
        display: none;
        white-space: nowrap;
        &:focus,
        &:hover{
            color: $white;
        }
    }
    .source-code-button_show {
        display: inline !important;
        background-color: $white;
        &:hover,
        &:active {
            background-color: #007c85;
        }
    }
}

#source-code-guidelines_wrapper{
    //font-size: 14px;
    border-bottom: 0px;
    margin-bottom: 40px; 
}

#ul-guidelines-toc_top{
    display: none;
    list-style: none;
    padding-left: 0px;

    li.usa-sidenav__item{
        border: none;
        a{
            padding-left: .5rem;
            padding-left: 2rem;
            font-weight: normal;
        }
    }
}

#ul-guidelines-toc_top.active{
    display: block;
}

#source-code-guidelines-date{
    padding-top: 2em;
    color: $font-color;
}

/* #references ~ ul .references a {
    //color: #005ea2;
} */
