
/* --- Colors --- */
/* -- Buttons -- */
$btn-accent_background-color_default: #007c85;
$btn-accent_background-color_focus-hover: #004E53;
$btn-accent_background-color_active: #002E32;
$btn-accent_font-color: #ffffff;
