<template>
  <div tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span
            aria-hidden="true"><i class="material-icons md-48">close</i></span></button>
          <h4 class="modal-title"><span class="text-uppercase">Provide Feedback</h4>
        </div>
        <div class="modal-body">
          <p>Provide feedback to the development team to help us improve your Stage experience:</p>
          <ul class="list-inline">
            <li><a href="mailto:stage_feedback@bah.com?Subject=Stage%20Feedback" class="btn btn-default"><i class="material-icons">email</i>Send Email</a></li>
            <li><a href="" class="btn btn-default"><i class="material-icons">rate_review</i>Complete Survey</a></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" click.trigger="controller.cancel()">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
