<template>
  <require from="../../resources/custom-attributes/bootstrap-tooltip"></require>

  <div tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span
            aria-hidden="true"><i class="material-icons md-48">close</i></span></button>
          <h4 class="modal-title"><span class="text-uppercase">Provide Feedback</h4>
        </div>
        <div class="modal-body text-center">
          <p>Provide feedback to the development team to help us improve your Stage experience:</p>
          <ul class="list-inline">
            <li><a href="mailto:stage_feedback@bah.com?Subject=Stage%20Feedback" class="btn btn-sm btn-secondary"><i class="material-icons">email</i> Contact Team</a></li>
            <li><a href="https://pages.github.boozallencsn.com/Stage/support/" target="_blank" class="btn btn-sm btn-secondary" bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="Ask a question, report a bug, or suggest an enhancement."><i class="material-icons">launch</i> Visit Stage Support</a></li>
            <li><a href="https://www.surveymonkey.com/r/NYWV9PY" target="_blank" class="btn btn-sm btn-secondary"><i class="material-icons">edit</i> Complete Survey</a></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" click.trigger="controller.cancel()">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
