<template>    
  <div tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span
            aria-hidden="true"><i class="material-icons md-48">close</i></span></button>
          <h4 class="modal-title"><span class="text-uppercase">You are now leaving the Intelligent Transportation Systems website.</span></h4>
        </div>
        <div class="modal-body leaving-modal">
          <p>
            You are about to access a non-government link outside of the U.S. Department of Transportation (DOT).
          </p>
          <p>
            <a href="#" click.trigger="navigateAndClose()">${model.url}</a>.
          </p>
          <p>
              Our Web sites have many links to other organizations, including educational institutions and non-profit associations.
          </p>
          <p>
              Please note: While links to Web sites outside of DOT are offered for your convenience in accessing transportation-related information, please be aware that when you exit DOT Web sites, the privacy policy, including tracking technology, computer security, intellectual property protection and Section 508 of the Rehabilitation Act (accessibility requirements) no longer apply. In addition, DOT cannot attest to the accuracy, relevancy, timeliness or completeness of information provided by linked sites.
          </p>
          <p>
              Linking to a Web site does not constitute an endorsement by DOT or any of its employees of the sponsors of the site or the products presented on the site.
              For more information, please view DOT's Web site linking policy.
          </p>
          <p>
            To get back to the page you were previously viewing, click the "Cancel" button.
          </p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-icon-right" attach-focus.bind="isFocus" click.delegate="navigateAndClose()" >Continue <i class="material-icons">chevron_right</i></button>
          <button type="button" class="btn btn-default" click.trigger="controller.cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
  