<template>
  <div tabindex="-1" role="dialog" id="exitdialog-title" aria-label="Exit confirmation dialog press escape to close the dialog at any time.">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 tabindex="1" class="modal-title"><span class="text-uppercase">You are now leaving ITS CodeHub.</span></h4>
          <button tabindex="2" aria-hidden="true" type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span
            aria-hidden="true"><em class="material-icons md-48">close</em></span></button>
        </div>
        <div tabindex="3" class="modal-body leaving-modal" aria-labelledby="leavingModla-p1 leavingModla-p2 leavingModla-p3 leavingModla-p4 leavingModla-p5 leavingModla-p6">
            <div class="modal-body-text">            
              <p id="leavingModla-p1-bottom-buttons">
              <span class="larger-font">You are about to access a non-government link outside of the U.S. Department of Transportation (DOT): </span>
              </p>
              <p id="leavingModla-p2">
                <a id="github-repo-url" href="#" click.trigger="navigateAndClose()" aria-label="Target link belongs to: ${model.name}">${model.url}</a>
              </p>
              <p id="leavingModla-p3">
                  Our Web sites have many links to other organizations, including educational institutions and non-profit associations.
              </p>
              <p id="leavingModla-p4">
                  Please note: While links to Web sites outside of DOT are offered for your convenience in accessing transportation-related information, please be aware that when you exit DOT Web sites, the privacy policy, including tracking technology, computer security, intellectual property protection and Section 508 of the Rehabilitation Act (accessibility requirements) no longer apply. In addition, DOT cannot attest to the accuracy, relevancy, timeliness or completeness of information provided by linked sites.
              </p>
              <p id="leavingModla-p5">
                  Linking to a Web site does not constitute an endorsement by DOT or any of its employees of the sponsors of the site or the products presented on the site.
                  For more information, please view DOT's Web site linking policy.
              </p>
              <p id="leavingModla-p6">
                To stay on the current page press the escape key or the "Cancel" button.
              </p>
            </div>
            <hr>
            <div class="modal-footer-scss">
              <button id="navigate-to-github_button" type="button" class="btn btn-accent btn-icon-right" click.delegate="navigateAndClose()" >Continue to GitHub <em class="material-icons" aria-hidden="true">chevron_right</em></button>
              <button type="button" class="btn btn-secondary" click.trigger="controller.cancel()">Cancel</button>
            </div> 
        </div>
      </div>
    </div>
  </div>
</template>
  