<template>
  <require from="resources/custom-elements/markdown"></require>
  <div tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span
            aria-hidden="true"><i class="material-icons md-48">close</i></span></button>
          <h4 class="modal-title"><span class="text-uppercase">readme</span>.md for ${repo.project_name}</h4>
        </div>
        <div class="modal-body markdown-body">

          <div markdown.bind="repo.content"></div>

        </div>
        <div class="modal-footer">
          <button if.bind="router.currentInstruction.config.name != 'project-details'" type="button" class="btn btn-default btn-icon-right" click.delegate="navigateAndClose()" >View Project <i class="material-icons">chevron_right</i></button>
          <button type="button" class="btn btn-default" click.trigger="controller.cancel()">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
