<template>
    <div tabindex="-1" role="dialog" id="vscandialog-title" aria-label="Virus found dialog press escape to close the dialog at any time.">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button tabindex="2" aria-hidden="true" type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span
              aria-hidden="true"><i class="material-icons md-48">close</i></span></button>
            <h4 tabindex="1" class="modal-title"><span class="text-uppercase">Virus Scan Alert!</span></h4>
          </div>
          <div tabindex="3" class="modal-body leaving-modal" aria-labelledby="leavingModla-p1 leavingModla-p2 leavingModla-p3 leavingModla-p4 leavingModla-p5 leavingModla-p6">
            <p id="leavingModla-p1">
              This repository has been disabled until further notice. Please see more information about the specific viruses within the "Health Statistics" section of the repository profile.
            </p>
          </div>
          <div class="modal-footer">
            <button tabindex="4" type="button" class="btn btn-default" click.delegate="navigateAndClose()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </template>
