body {
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
}

.error {
	background-image: url("../img/error-bk.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	width: 35%;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 75px;
}

h1 strong {
	font-size: 120%;
}

.stage-logo {
	width: 35%;
	height: 35%;
}

.body {
	width: 29%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
}

.body p {
	font-size: 18px;
}

.btn-error {
	border: 2px solid #FFFFFF;
	background: transparent;
}

.btn-error:hover,
.btn-error:active,
.btn-error :focus {
	background-color: #FFFFFF;
	color: #000000;
}

footer {
	// position: relative;
	background: transparent;
	color: #ffffff;
}