// Stage Variables

//== Colors
@stage-body-bk:#2E3234;
@stage-navbar-bk:#005D6A;
@stage-card-bk:#424242;
@white:#FFFFFF;
@gray:#555555;
@black:#000000;
@stage-color:#595959;
@stage-code:#902144;
@stage-component:#005d6a;
@stage-stack:#a999de;
@stage-card-hover-bk:#8E8E8E;

@stage-modal-border:#4c4d4d;

@stage-modal-hd-bk:#141414;
@stage-modal-content-bk:#2e3234;
@stage-modal-footer-bk:#252525;