// Navbar styles
.navbar-default {
	background-color: fade(@black, 20%);
	text-shadow: 0 3px 4px rgba(0,0,0,0.2);

  	border: none;
  	border-radius: 0;
  	margin-bottom: 0;

  	.navbar-brand {
		width: 150px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-right: 10px;
  	}

	.navbar-nav {
		> li > a {
		  color: fade(@white, 65%);
		  text-decoration: none;
		  transition: all 0.25s ease-in-out;

		  &:hover,
		  &:focus {
		    color: @white;
		    text-decoration: none;
		    background-color: transparent;
		  }
		}
		> .active > a {
		  &,
		  &:hover,
		  &:focus {
		    color: @white;
		    background-color: transparent;
		    text-decoration: none;
		    border-bottom: 4px solid @white;
		  }
		}
		> .disabled > a {
		  &,
		  &:hover,
		  &:focus {
		    color: @navbar-default-link-disabled-color;
		    text-decoration: none;
		    background-color: transparent;
		  }
		}

		> .dropdown {

			> a.utility-nav {
				color: @white;
				padding-top: 7px;
				padding-bottom: 7px;
				// transition: all 0.02s linear !important;

				&:hover,
				&:focus {
					text-shadow: 0 3px 4px rgba(0,0,0,0.2);
					background-color: fade(@black, 05%);
					
				}

				.user-avatar{
					margin-right: 10px;
					height: 40px;
					width: 40px;
					border-radius: 100%;
					background-color: @white;
					box-shadow: 0 3px 4px rgba(0,0,0,0.2);
				}
			}
		}

		.dropdown-menu { 
			width: 100%;

			> li > a {
				color: @white;
				text-shadow: none;
				text-decoration: none;
				
				&:hover,
	  			&:focus {
	  				background-color:fade(@black, 5%);

	  				color: @white;
	  				text-shadow: none;
	  				text-decoration: none;
	  			}
			}
		}

		.open.dropdown {
			> a.utility-nav {
				background-color: fade(@black, 10%);
			}

			.dropdown-menu {
				background-color: fade(@black, 25%);
				color: @white;
			}
		}
	}	
}