.container-fluid {

	.flex-row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;

		.card-header {
			h5{
				padding-top: 10px;
				padding-left: 10px;
			}
		}

		.card-sidebar {
			border-bottom: 1px solid lighten(@light-gray, 10%);
		}

		.col-filters {
			flex-basis: 20%;
			background-color: @white;
			padding: 0 10px;
			width: 100px;

			.panel-default {
				border: none;
				margin-bottom: 0;

				> .panel-heading {
					background-color: transparent;
					position: relative;
					border: none;
					border-top: 1px solid lighten(@light-gray, 10%);
					border-radius: 0;

					a:after,
					a:before {
						background: #616161 ;
						content: '';
						height: .15rem;
						position: absolute;
						right: 0;
						top: 1.85rem;
						-webkit-transition: all 125ms;
						transition: all 125ms;
						width: 1rem;
					}

					a.collapsed:after {
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}

				.panel-body {
					padding: 0;

					.list-group {
						margin-bottom: 0;

						.list-group-item {
							border: none;
							padding: 5px 15px;

							&:last-child {
								border: none;
							}
						}
					}
				}
			}
		}

		.main-content {
			flex-basis: 80%;
		}
	}
}