// Stage Variables

//== Colors
@white:rgb(255,255,255); //#ffffff
@gray:#555555;
@light-gray:#C9C9C9;
@black:rgb(0,0,0); //#000
@blue:#93ADD5;
@teal: rgb(0, 176, 188);

//== Stage Colors


@stage-body-bk:#F1F2F2;
@stage-navbar-bk:#005D6A;
@stage-card-bk:#575757;
@stage-color:#595959;
@stage-code:#902144;
@stage-component:#005d6a;
@stage-stack:#a999de;
@stage-card-hover-bk:#8E8E8E;
@stage-blue:#155569;
@stage-text-muted:#BDBDBD;
//@stage-footer:#626161;
@stage-modal-border:#4c4d4d;
@stage-modal-hd-bk:#141414;
@stage-modal-content-bk:#2e3234;
@stage-modal-footer-bk:#252525;
@stage-badge-bk-color:rgb(188, 190, 192); //#BCBEC0

//== Stage Nav Banner background color
@stage-banner-bk: #f05154;
@stage-banner-orange: rgb(255, 212, 118); //#ffb476
@stage-banner-red: rgb(240, 79, 84); //#f04f54

@stage-red: rgb(242, 107, 100); //#F26B64

@stage-gray: rgb(209, 211, 212); //#D1D3D4

@stage-footer: rgb(246, 246, 246); //#F6F6F6

//== Stage brand colors
@brand-primary:         @stage-banner-red;
//@brand-success:         #5cb85c;
@brand-info:            @stage-blue;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #d9534f;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

//** Global textual link color.
@link-color:            @teal;
//** Link hover color for navbar
@link-hover-color:      darken(@teal, 10%);
//** Standard Link hover color
@link-alt-hover-color: darken(@teal, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;
//** Info label background color
@label-info-bg:               @brand-info;
//** Text muted color
@text-muted:                  @stage-gray;

//** Modal backdrop background color
@modal-backdrop-bg:           #000;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;

//** Stage Line count
@stage-line-count: 3;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  'Roboto', sans-serif;
@font-family-serif:       'Roboto', sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px