// Stage Variables

//== Colors
@white:#ffffff;
@gray:#555555;
@light-gray:#C9C9C9;
@black:#000000;
@blue:#93ADD5;

//== Stage Colors

@stage-body-bk:#2E3234;
@stage-navbar-bk:#005D6A;
@stage-card-bk:#575757;
@stage-gray: #CCCCCC;
@stage-color:#595959;
@stage-code:#902144;
@stage-component:#005d6a;
@stage-stack:#a999de;
@stage-card-hover-bk:#8E8E8E;
@stage-blue:#155569;
@stage-text-muted:#BDBDBD;
@stage-footer:#626161;
@stage-modal-border:#4c4d4d;
@stage-modal-hd-bk:#141414;
@stage-modal-content-bk:#2e3234;
@stage-modal-footer-bk:#252525;
@stage-badge-bk-color:#262626;

//== Stage brand colors
@brand-primary:         @stage-code;
//@brand-success:         #5cb85c;
@brand-info:            @stage-blue;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #d9534f;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

//** Global textual link color.
@link-color:            @white;
//** Link hover color for navbar
@link-hover-color:      @white;
//** Standard Link hover color
@link-alt-hover-color: @blue;
//** Link hover decoration.
@link-hover-decoration: underline;
//** Info label background color
@label-info-bg:               @brand-info;
//** Text muted color
@text-muted:                  @stage-gray;

//** Modal backdrop background color
@modal-backdrop-bg:           #000;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;

//** Stage Line count
@stage-line-count: 2;