// Card Styles -- based on Google Material Design

.cards-wrapper {
	>.row {
		padding: 0 20px;

		.cards-sorting {
			padding-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				margin: 0;
			}
		}
	}

	.card {
		padding:15px 15px 0;
		background: @white;
		border-radius: @stage-border-radius;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
		position: relative;

		.ribbon-wrapper {
			width: 77px;
			height: 77px;
			overflow: hidden;
			position: absolute;
			top: -5px;
			right: -5px;
			z-index:0;

			.ribbon {
				font-size: 0.65em;
				font-weight: bold;
				text-transform: uppercase;
				color: @black;
				text-align: center;
				-webkit-transform: rotate(45deg);
				-moz-transform:    rotate(45deg);
				-ms-transform:     rotate(45deg);
				-o-transform:      rotate(45deg);
				position: relative;
				height: 28px;
				line-height: 29px;
				right: 6px;
				top: 14px;
				width: 110px;
				background-color: @yellow;
				box-shadow: 0px 4px 0 rgba(0,0,0,0.05);

				&:before,
				&:after {
					content: "";
				border-top:   4px solid @yellow;   
				border-left:  4px solid transparent;
				border-right: 4px solid transparent;
				position:absolute;
				bottom: -4px;
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}
		}

		.card-header {
			margin-bottom: 10px;

			.avatar {
				position: absolute;
				height: 70px;
				width: 70px;
				border-radius: 100%;
				overflow: hidden;
				border: 1px solid @gray;
				text-align: center;

				img {
					width: 70px;
					height: 70px;
				}
			}

			.card-title {
				padding: 15px 30px 0 90px;
				font-size: 1.2em;
				font-weight: bold;
				line-height: 20px;
				overflow-wrap: break-word;
				z-index: 1;
				position: relative;
			}

			.org-name {
				font-size: 13px;
				margin-top:8px;
				padding-left: 90px;
				color: rgba(0,0,0,0.4);
			}
		}

		.proj-desc {
			padding-top: 10px;
			overflow-wrap: break-word;
		}

		.last-updated {
			font-style: italic;
			font-size: 85%;
			font-size: 0.8em;
			margin-top: 10px;
			border-bottom: 1px solid @gray;
			padding-bottom: 10px;
		}
	}

	.github-stats {
		padding: 10px 0;

		.stat {
			display: block;
			padding: 8px 0;
			color: #999;
		}

		.num {
			font-size: 90%
		}

		.text-emphasized {
			font-weight: 600;
		}
	}

	.card-btns {
		margin: 0 -15px;
		border-radius: 0 0 4px 4px;
		overflow: hidden;

		.col-md-6 {
			margin-bottom: 0;
		}

		a {
			text-transform: uppercase;
			font-weight: bold;
			margin:0 -15px;
			border-top: 1px solid @gray;
			background: lighten(@stage-gray, 10%);
			display: block;
			padding: 15px 0;
			text-align: center;
			transition: all 0.2s linear;

			&:first-of-type {
				border-right: 1px solid @gray;
			}

			&:hover {
				background:@teal;
				color: @white;
				border-color:@teal;
			}
		}
	}
}