.project-details {
    .page-header{
        display: flex;
        justify-content: center;
        margin-top: 10px;

        h1{
            flex-grow:1;
            margin-left: 289px;
        }

        .project-pager{
            margin-left: auto;
            margin-top: 10px;

            .pager{
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}