.proj-details-wrapper {
    padding-top: 30px;

    .card-header{
        padding-top: 15px;
        padding-bottom: 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.5rem;
        }

        a {
            text-align: center;
            display: inline-block;
            padding: 0 5px;
            font-family: "Roboto";

            span {
                display: block;
                margin-top: 5px;
            }
        }
    }

    .card-block {

        .flex-subhead {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid @stage-gray;
            padding-bottom: 0px;

            h4{
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: bold;
                color: lighten(@black, 60%);
                border: none;
                padding-bottom: 0;
            }
        }

        h4{
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: bold;
            color: lighten(@black, 60%);
            border-bottom: 1px solid @stage-gray;
            padding-bottom: 8px;
        }

        a {
            text-align: center;
            display: inline-block;
            padding: 5px;

            span {
                display: block;
                margin-top: 5px;
            }
        }
    }
}

.project-details {
    .page-header{
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .project-pager{
            margin-left: auto;
            margin-top: 10px;

            .pager{
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}