//
// Scaffolding
// --------------------------------------------------

html {
	font-size: 15px;
}

body {
	color: @black;
	background-color: @stage-body-bk;
  	font-family: @font-family-base;
  	font-size: @font-size-base;
  	line-height: @line-height-base;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	margin-bottom: 15px;
}

.card-details,
.card-header{
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
	.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
	.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
	.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
	.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
	.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		margin-bottom: 0;
	}
}

.page-title {
	h1{
		margin-top: 0;
	}
}

.form-control {
	color: @stage-gray;
}

.title-wrapper {
	background-color: lighten(@light-gray,14%);

	.page-title {
		text-align: center;
		margin: 0;
		color: @stage-red;
		line-height: 0 !important;
		text-align: center;
		padding: 10px 0;
		margin: 15px 0 12px;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: 'Roboto Condensed';
		font-weight: bold;

		span {
			display: inline-block;
			position: relative;

			&:before,
			&:after {
				content: "";
				position: absolute;
				height: 5px;
				border-top: 1px solid fade(@black, 8%);
				top: 0;
				width: 100px;
			}

			&:before {
				right: 100%;
				margin-right: 15px;
			}

			&:after {
				left: 100%;
				margin-left: 15px;
			}
		}
	}
}

.hero-banner {
	background: @stage-banner-bk; /* Old browsers */
	background: linear-gradient(135deg, darken(@stage-banner-red, 5%) 0%, darken(@stage-banner-orange, 5%) 100%);
	position: relative;
	height: 350px;
	// overflow: hidden;

	.inner {

	//&:before {
		//content: "";
		background-image: url("../../img/network-pattern.svg");
		background-size: cover;
		//opacity: 0.3;
		width: 100%;
		height: 350px;
		//position: absolute;
		// left: 0;
		//top: 0;
		z-index: 0;
	}
//}
}

.hero-jumbotron {
	background-color: transparent;
	margin-bottom: 15px;
	padding-top: 0;
	margin-top: 0;
	text-shadow: 0 5px 10px rgba(0,0,0,0.2);

	.container-fluid {
		padding-top: 20px;

		h1, p {
			text-align: center;
			color: @white;
		}

		h1 {
			margin-top: 5px;
			font-size: 3em;
			font-weight: 700;
		}

		p {
			font-size: 1.5em;
			font-weight: 300;
		}
	}
}

.jumbotro-title {
	padding: 0;
}

.sort-col {
	margin-bottom: 5px;
	padding: 10px 15px 10px 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.form-group {
		margin: 0;
	}

	p {
		margin-bottom: 0;
	}
	.form-inline {
	}
}

// Label Base class
.label {
	text-transform: uppercase;
	font-family: "Roboto Condensed";
	font-weight: normal;
	font-size: 0.9em;
    border-radius: 10px;
    display: inline-block;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

	.octicon{
		font-size: 14px;
		vertical-align: -8%;
	}
}

.bg-amber {
	background-color: @amber;
	color: @black;
}
.text-amber {
	color:@amber;
}

.bg-orange {
	background-color: @orange;
}

.text-orange {
	color: @orange;
}

.bg-indigo {
	background-color: @indigo;
}

.text-indigo {
	color: @indigo;
}

.bg-light-blue {
	background-color: @light-blue;
}

.text-light-blue {
	color: @light-blue;
}

.bg-purple {
	background-color: @purple;
}

.text-purple {
	color: @purple;
}

.flex {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: .75rem 1rem;
}

.flex-item {
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	margin: 0 5px;
}

.list-footer {
	.flex-item{
		text-align: center;
		padding: 5px 0;
		font-size: 12px;
	}
}

.display-input {
	width: 45px;
	color: @black;
}

.project-icon {
	height: 25px;
	width: 25px;
}

// Forms

input {
	box-shadow: none !important;
}

// Links

a {
  color: @link-color;
  text-decoration: none;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    color: @link-alt-hover-color;
    text-decoration: none;
  }

  &:focus {
    .tab-focus();
  }
}

.select-list {
	li {
		padding-right: 2px;
	}
}

/* LESS Mixins */

// .multiLineEllipsis(@stage-line-count: 1){
//   overflow: hidden;
//   position: relative;
//   line-height: @line-height-base;
//   max-height: 20px * @stage-line-count; 
//   padding-right: 1em;

//   // overflow: hidden;
//   // position: relative;
//   // line-height: $lineHeight;
//   // max-height: $lineHeight * $lineCount; 
//   // text-align: justify;
//   // margin-right: -1em;
//   // padding-right: 1em;

//   &:before {
//     content: '...';
//     position: absolute;
//     right: 0;
//     bottom: 0;
//   }

//   &:after {
//     content: '';
//     position: absolute;
//     right: 0;
//     width: 1em;
//     height: 1em;
//     margin-top: 0.2em;
//     background-color: @stage-card-bk;
//   }
// }

/* Media queries */

@media screen and (max-width: 992px) {
	.sort-col {
		min-height: 50px;
	}
}