// Card Styles -- based on Google Material Design

// Global Clickable Cards
.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: @stage-border-radius;
    opacity: 0;
    transition: all 0.2s linear;
    z-index: -5;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.card-default {
	.health-stats {
		h3 {
			margin-top: 10px;
			font-size: @font-size-base;
			letter-spacing: 0.75px;
		}

		.col-lg-4 {
			padding-left: 5px;
			padding-right: 5px;
		}

		font-size: @font-size-small;
	}
}

// Global Default Card Styles
.card-default {
  .github-stats {
    border-left: none;
    padding: 0  0 10px 0;
    pointer-events: none;

    > [class*='col-'] {
      margin-bottom: 0;
    }

    .stat {
      display: block;
      padding: 8px 0;
      color: #999;
      font-size: @font-size-smaller;
    }
  }
}

// Global Github Stats
.col-github-stats {
  .github-stats {
    border-left: 1px solid lighten(@gray,@stage-gray-precentage);
    padding: 10px 0;
    padding-left: 20px;

    > [class*='col-'] {
      margin-bottom: 0;
    }

    .stat {
      display: block;
      padding: 8px 0;
      color: #999;
      font-size: @font-size-smaller;
    }
  }
}

.cards-wrapper {
	margin-bottom: 0;

	.tab-pane {
		padding-top: 10px;

		>.row {
			padding: 0 20px 0;
		}
	}

	>.row {
		padding: 0 20px 0;
	}

  .hover-card {
    transition: all 0.2s linear;


    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 10px fade(@black,10%);

      .card-header {

        .card-title {
          a {
            color: @teal;
          }
        }
      }
    }
  }

	.card {
		padding:15px 15px 0;
		background: @white;
		border-radius: @stage-border-radius;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
		position: relative;
		margin-bottom: 20px;

    .repo-status {
      font-family: Roboto-Condensed;
      font-weight: 500;
    }

    .last-updated {
      line-height: @font-size-larger;

      .material-icons {
        vertical-align: -6px;
        font-size:@font-size-larger;
      }
    }

		.last-updated,
		.card-btns,
		.card-stats {
			a {
				position: relative;
				z-index: 2;
			}
		}

		.card-links {
			padding-top: 10px;

      .actions-icons {
        margin-right: 10px;
      }

			.pull-right {
				margin-right: 10px;

				> li {
					padding-left: 0px;
					padding-right: 0px;

					a {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}

		.ribbon-wrapper {
			width: 77px;
			height: 77px;
			overflow: hidden;
			position: absolute;
			top: -5px;
			right: -5px;
			z-index: 0;
			pointer-events: none;

			.ribbon {
				font-size: @font-size-smaller;
				font-family: Roboto-Condensed;
				font-weight: bold;
				letter-spacing: -0.25px;
				text-transform: uppercase;
				color: @black;
				text-align: center;
				-webkit-transform: rotate(45deg);
				-moz-transform:    rotate(45deg);
				-ms-transform:     rotate(45deg);
				-o-transform:      rotate(45deg);
				position: relative;
				height: 28px;
				line-height: floor((@line-height-computed * 1.4)); // ~29px
				right: 6px;
				top: 14px;
				width: 110px;
				background-color: @yellow;
				box-shadow: 0px 4px 0 rgba(0,0,0,0.05);

				&:before,
				&:after {
					content: "";
					border-top:   4px solid darken(@yellow, 20%);
					border-left:  4px solid transparent;
					border-right: 4px solid transparent;
					position:absolute;
					bottom: -4px;
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}
		}

		.card-header {
			margin-bottom: 10px;

			.lang-logo {
				position: absolute;
				height: 60px;
				width: 60px;
				border-radius: 100%;
				overflow: hidden;
				text-align: center;

				img {
					width: 60px;
					height: 60px;
				}
			}

			.card-title {
				padding: 15px 34px 0 80px;
				font-size: @font-size-large;
				font-weight: bold;
				line-height: @line-height-computed; // ~20px
				overflow-wrap: break-word;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

        a {
          color: @stage-body;
        }
			}

			.org-name {
				font-size: @font-size-small;
				font-weight: bold;
				margin-top:8px;
				padding-left: 80px;
				color: rgba(0,0,0,0.4);
			}
		}

		.proj-desc {
			padding-top: 10px;
			overflow-wrap: break-word;
			display: block; /* Fallback for non-webkit */
			display: -webkit-box;
			max-height: 50px; /* Fallback for non-webkit */
			margin: 0 auto;
			line-height: @line-height-base;
			-webkit-line-clamp: @lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.last-updated {
			font-size: @font-size-smaller;
			margin-top: 10px;
			padding-bottom: 10px;
		}
	}

	.card-insight {
		padding-bottom: 15px; 

		h2 {
    	text-transform: none;
    	font-size: @font-size-large;
    	margin-top: 0;
    	font-weight: 900;
    	line-height: 0 !important;
    	max-width: 100%;
    	overflow: hidden;
    	white-space: nowrap;
    	padding: 15px 0;
		}

		p {
			&:last-child {
				padding-bottom: 15px;
			}
		}

		.health-tiles {
			text-transform: uppercase;
    	font-size: @font-size-medium;
    	margin-top: 0;
    	font-weight: 900;
    	padding: 15px 0;
    	color: @teal;
    	letter-spacing: 2px;
    	margin-bottom: 0;
		}

		.health-num {
			font-size: @font-size-largest;
			font-weight: 300;
			margin-bottom: 0;
			line-height: 60px;
		}

		.material-icons {
			font-size: @font-size-h2;
			line-height: @font-size-base;
			vertical-align: -10px;
		}

		.negative {
			color: @stage-red;
		}

		.positive {
			color: @green;
		}

		.temp-img {
			text-align: center;

			img {
				height: 75%;
				width: 75%;
				margin: 0 auto;
			}
		}
		
		.media-body-secondary {
			font-weight: bold;

			span {
				font-weight: normal;
			}
		}

		span {
			padding-top: 3px;

			em {
				padding-left: 10px;

			}

			.btn {
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		.media-list {
			margin-bottom: 0;
		}
	}

	.card-btns {
		margin: 0 -15px;
		border-radius: 0 0 4px 4px;
		overflow: hidden;

		.col-md-6,
		.col-md-4 {
			margin-bottom: 0;

			a {
				font-weight: bold;
				margin:0 -15px;
				border-top: 1px solid lighten(@gray,@stage-gray-precentage);
				border-right: 1px solid lighten(@gray,@stage-gray-precentage);
				background: lighten(@stage-gray, @stage-gray-precentage);
				display: block;
				padding: 10px 0;
				text-align: center;
				transition: all 0.2s linear;
        color: lighten(@black, 25%);

				&:hover {
					background:@teal;
					color: @white;
					border-color:@teal;
				}

				.material-icons {
					vertical-align: -7px;
					margin: 0 5px;
				}
			}
		}

		.col-md-6 {
			&:first-of-type {
				a {
					border-right: 1px solid lighten(@gray,@stage-gray-precentage);
				}
			}

			a {
				border-right: none;
			}
		}

		.col-md-3 {
			&:last-of-type {
				a {
					border-right: none;
				}
			}
		}
	}

	.full-width {
		margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }

		.last-updated {
			border-bottom: none;
			margin-bottom: 15px;
		}
	}
}

.search-results {
	.row {
		padding: 0;
	}

	.card-search {
		margin-bottom: 10px;

		.proj-desc {
			padding-top: 0;
    }

		.proj-desc,
		.last-updated {
			padding-left: 80px;
		}

		.last-updated {
			border-bottom: none;
		}

		.col-github-stats {
			.github-stats {
				padding-left: 20px;
		  }
		}
	}
}

/* Media queries */

@media screen and (min-width: 1200px) and (max-width: 1325px) {
	.cards-wrapper {
		.github-stats {
			.stat {
				text-align: center;

				.stat-label {
					display: block;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) and (max-width: 1590px) {
	.with-filters {
		.github-stats {
			.stat {
				text-align: center;

				.stat-label {
					display: block;
				}
			}
		}
	}
}
