aside.sidenav{
    padding-top: 20px;
    
    & nav{
        width: 100%;
        
        & ul.sidenav-ul{
            width: 100%;
            
            & li.sidenav-li{
                float: unset;
                font-weight: bold;  
                border-bottom: 1px solid @sidenav-li-lines;
                color: @dark-blue;
                padding-top: 5px;
                padding-bottom: 5px;    

                & a.dropdown-item.sidnav-a{
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: @dark-blue;
                    &.active-child{
                        border-left: 2px solid @dark-blue;
                        border-right: 2px solid @dark-blue;
                    }

                }
            }
            & li.sidenav-li.parent-item{
                border-bottom: 1px solid @sidenav-top-line;
                color: #333333;
                padding-left: 15px;
            }
        }
    }
}

