#fake-card{
    border: solid 2px @dark-blue;
    .join-us{
        background-color: @dark-blue;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-title span{
        font-size: 20px;
        font-weight: bold;
    }

    .card-title span,
    .card-stats.lined-header span,
    #card-feature-organization-link-card-fake{
        color: @teal;
    }

    .proj-desc{
        color: @dark-blue;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        padding-top: 0px;
    }

    .btn-yellow{
        background-color: @yellow;
        color: #000000;
        border: solid 1px @light-gray;
        padding: 5px 15px;
        &:hover,
        &:focus{
            color: white;
            background-color: @dark-blue;
            border: solid 1px @dark-blue;
            box-shadow: 0px 0px 8px #3a3a3a;
        }
    }

    .button-lead-card{
        font-weight: bold;
        margin-right: 3px;
        display: inline-block; 
    }

    .row.card-links.clearfix{
        padding-top: 6px;
    }

    .card-fake-bottom{
        margin-bottom: 6px;
        text-align: center;
        font-size: 15px;
    }

    .row.github-stats.row-2{
        padding-bottom: 6px;
    }
}

#header-connect-repo{
    text-align: center;
    margin-bottom: -20px;

    .button-lead-header{
        font-weight: bold;
        font-size: 16px;
        margin-right: 12px;
        display: inline-block;
        color: @yellow;
    }

    .btn-yellow{
        background-color: @yellow;
        color: #000000;
        border: solid 1px #222222;
        padding: 5px 15px;
        &:hover,
        &:focus{
            background-color: #dbf1f3;
            color: #111111;
            border: solid 1px #111111;
            box-shadow: 1px 1px 8px 1px #3a3a3a;
        }
    }
}
