body ai-dialog-overlay.active {
	background-color: @modal-backdrop-bg;
  	opacity:@modal-backdrop-opacity;
}

.modal-header {
  .close {
    margin-top: 2px;
  }
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  h1{
    font-size: 2em;
    margin-top: 0;

    a {
      font-weight: bold;
    }
  }

  h2{
    font-size: 1.5em;
    margin-top: 30px;
  }
}