// Card Styles -- based on Google Material Design

.card {
	width: 100%;
	position: relative;
	display: block;
	margin: 0;
	margin-bottom: 0.75rem;
	color: @white;
	background-color: @stage-card-bk;
	border-radius: 0.25rem;
	border: 1px solid @gray;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-size: .875rem;
	font-weight: normal;

	.project-icon {
		height: 25px;
		width: 25px;
	}

	.card-header {
		padding: 0.25rem 1rem;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid @stage-gray;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		h3 {
			margin: 0px;
		}

		.repo-name {
			flex-basis: 95%;
			margin: 0;
		}

		.repo-language {
			flex-basis: 5%;
			margin: 0;

			.project-icon {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
	
	.card-subheader {
		padding: 0 1rem;

		.card-subtitle {
			margin-top: 0;
		}
	}

	.card-block {
		padding: 0.25rem 1rem;
		display: flex;
		min-height: 230px;

		.repo-descrip {
			flex-basis: 70%;
		}

		.repo-stats {
			flex-basis: 30%;
			list-style: none;
			padding: 0;
			margin: 0;

			.flex-item {
				text-align: right;
			}
		}
	}

	.card-sidebar {
		display: block;

		h3 {
			margin-top: 10px;
		}

		.card-block {
			min-height: initial;
		}

		.panel-default {
			border: none;
			background-color: transparent;
			border-radius: 0;
			margin-bottom: 0;
			box-shadow: none;


			> .panel-heading {
				background-color: transparent;
				border: none;
				border-bottom: 1px solid @stage-gray;
				color: @white;
				padding: 0.25rem;

				h4 {
					margin: 0;
				}
			}

			.panel-body {
				padding: 0.25rem 0rem;

				.list-group {
					margin-bottom: 0;

					.list-group-item {
						background-color: transparent;
						border: none;
						padding: 0.25rem 1rem;
					}
				}
			}
		}	
	}

	.card-footer {
		background-color: @stage-footer;
		box-shadow: 0 0 0 1px @gray inset;
		padding: 0.5rem;
		display: flex;
		justify-content: center;
		padding: 0;

		.flex-footer {
			list-style: none;
			-webkit-padding-start: 0;
			margin: 5px 0;
		}
	}
}

.card-details {
	.card-block {
		min-height: initial;
		flex-direction: column;

		.flex-block {
			display: flex;
			flex-direction: column;
		}
		
		.flex-links {
			list-style: none;
			-webkit-padding-start: 0;
			margin: 5px 0;
			display: flex;
			flex-wrap: wrap;

			.flex-item {
				text-align: inherit;
			}

			.extended-flex-item {
			}

		}
	}
}

.card-stats,
.card-dependencies {
	.card-block {
		flex-direction: column;
	}
}

.card-aside,
.card-detail {
	.card-header {
		border-bottom: 1px solid #ffffff;
	}
}

.card-aside {
	.card-header {
		h2 {
			text-transform: uppercase;
		}
	}
}