<template>
  <require from="../resources/value-converters/num"></require>
  <require from="../resources/value-converters/ago"></require>
  <require from="../resources/custom-attributes/bootstrap-tooltip"></require>

  <div if.bind="repo" class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-default hover-card">
      <div class="card-header">
        <div tabindex="0" class="lang-logo" role="img" aria-label="Language icon ${repo.sourceData.language}">
            <img alt="Language icon ${repo.sourceData.language}" src.bind="language_image">
        </div>
        <div class="card-title multiline">
          <a id="card-health-title-link-${repo.id}" href="#" route-href="route:project-details; params.bind: {id:repo.id}" aria-label="Project name: ${repo.sourceData.name}">${repo.sourceData.name}</a>
        </div>
        <div tabindex="0" class="org-name">${language}</div>
      </div>
      <div tabindex="0" class="proj-desc ${hasdescription ? '' : 'no-desc'} multiline">${description}</div>
      <div class="text-muted last-updated"><span aria-hidden="true">By&nbsp;</span><a id="card-health-organization-link-${repo.id}" href="#" click.trigger="openLeavingSiteConfirmation(repo.sourceData.owner.name,repo.sourceData.owner.url,$event.target)" bootstrap-tooltip data-toggle="tooltip" data-placement="top" aria-label="Project organization: ${repo.sourceData.owner.name}, view on GitHub." target="_blank">${repo.sourceData.owner.name}</a> &nbsp; | &nbsp; <span tabindex="0" id="card-health-organization-updated-text-${repo.id}">Updated ${repo.sourceData.lastPush | ago}</span> <span class="pull-right repo-status"><i class="material-icons" aria-hidden="true">public</i> <span tabindex="0" id="card-health-organization-origin-text-${repo.id}">PUBLIC</span></span></div>

      <div class="card-stats lined-header">
        <h4 tabindex="0" class=""><span>Health Stats</span></h4>
      </div>

      <div class="row health-stats text-center">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h3 tabindex="0" class="health-tiles" aria-label="Reliability, ${ bugs | num } bugs,, ${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.reliability_rating.frmt_val : 'No'} rating">Reliability</h3>
          <span id="card-health-project-bugs-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${ bugs | num }</span><span class="text-muted" aria-hidden="true"> bugs <span id="card-health-project-bugs-rating-${repo.id}" class="rating rating-${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.reliability_rating.frmt_val : ''}" aria-hidden="true">${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.reliability_rating.frmt_val : ''}</span></span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h3 tabindex="0" class="health-tiles" aria-label="Security, ${ vulnerabilities | num } vulnerabilities,, ${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.security_rating.frmt_val : 'No'} rating">Security</h3>
          <span id="card-health-project-vulnerabilities-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${ vulnerabilities | num }</span><span class="text-muted" aria-hidden="true"> vulnerabilities <span id="card-health-project-vulnerabilities-rating-${repo.id}" class="rating rating-${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.security_rating.frmt_val : ''}" aria-hidden="true">${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.security_rating.frmt_val : ''}</span></span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h3 tabindex="0" class="health-tiles" aria-label="Technical Debt, ${ repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.sqale_index.frmt_val : 'Not available'},, ${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.sqale_rating.frmt_val : 'No'} rating">Technical Debt</h3>
          <span id="card-health-project-debt-days-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${ repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.sqale_index.frmt_val : ''}</span><span class="text-muted" aria-hidden="true"> - <span id="card-health-project-debt-days-rating-${repo.id}" class="rating rating-${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.sqale_rating.frmt_val : ''}" aria-hidden="true">${repo.generatedData.sonarMetrics ? repo.generatedData.sonarMetrics.sqale_rating.frmt_val : ''}</span></span>
        </div>
      </div>

      <div class="row card-links clearfix">
        <ul class="list-inline pull-left">
          <li><a id="card-health-project-open-readme-${repo.id}" href="#" click.trigger="dialogFunctions.openReadmeModal(repo,$event.target)" aria-label="Show readme file"><i class="material-icons" aria-hidden="true">library_books</i> Show README</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li if.bind="badge_status_image"><a href="#"  route-href="route:badges-about" title="Status ${repo.codehubData.badges.status}"><img alt="Badge status image" src.bind="badge_status_image"></a></li>
        </ul>
      </div>

      <a class="card-link" href="#" route-href="route:project-details; params.bind: {id:repo.id}"  aria-label="Open details for project ${repo.sourceData.name}">&nbsp;</a>
    </div>
  </div>
</template>
