<template>
  <require from="../resources/value-converters/num"></require>
  <require from="../resources/value-converters/ago"></require>
  <require from="../resources/custom-attributes/bootstrap-tooltip"></require>

  <div if.bind="repo" class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-default hover-card">
      <div class="ribbon-wrapper">
        <div class="ribbon">Gamification</div>
      </div>
      <div class="card-header">
        <div class="lang-logo">
          <span>
            <img src="img/language-icons/${repo.language.toLowerCase() ? repo.language.toLowerCase() : 'default'}.svg" onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
          </span>
        </div>
        <div class="card-title multiline">
          <a href="#" route-href="route:project-details; params.bind: {id:repo.id}" title="${repo.project_name}">${repo.project_name}</a>
        </div>
        <div class="org-name">${repo.language ? repo.language : stageConfig.NO_LANG}</div>
      </div>
      <div class="proj-desc multiline">${repo.project_description}</div>
      <div class="text-muted last-updated">By <a href="${repo.organizationUrl}" bootstrap-tooltip data-toggle="tooltip" data-placement="top" title="View on Github" target="_blank">${repo.organization}</a> &nbsp; | &nbsp; Updated ${repo.updatedAt | ago} <span class="pull-right repo-status"><i class="material-icons">${repo.origin == 'PUBLIC' ? 'public' : 'business'}</i> ${repo.origin}</span></div>

      <div class="card-stats lined-header">
        <span class="pull-right"><em class="text-muted">Source: <a href="#" target="_blank">SonarQube™</a></em></span>
        <h4 class=""><span>Health Stats</span></h4>
      </div>                    

      <div class="row health-stats text-center">      
        <div class="col-lg-4">
          <h3 class="health-tiles">Reliabilty</h3>
          <span class="num text-muted text-emphasized">23</span><span class="text-muted"> bugs <span class="rating rating-C">C</span></span>
        </div>
        <div class="col-lg-4">
          <h3 class="health-tiles">Security</h3>
          <span class="num text-muted text-emphasized">0</span><span class="text-muted"> vulnerabilities <span class="rating rating-A">A</span></span>
        </div>
        <div class="col-lg-4">
          <h3 class="health-tiles">Techincal Debt</h3>
          <span class="num text-muted text-emphasized">7</span><span class="text-muted"> days <span class="rating rating-B">B</span></span>
        </div>
      </div>

      <div class="row card-links clearfix">
        <ul class="list-inline pull-left">
          <li><a href="#" click.trigger="openReadmeModal(repo)"><i class="material-icons">library_books</i> Show README</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="#" bootstrap-tooltip data-toggle="tooltip" data-placement="top" title="Share"><i class="material-icons">share</i></a></li>
          <li><a href="#" bootstrap-tooltip data-toggle="tooltip" data-placement="top" title="Bookmark"><i class="material-icons">bookmark_border</i></a></li>
        </ul>
      </div>

      <a class="card-link" href="#" route-href="route:project-details; params.bind: {id:repo.id}"></a>
    </div>
  </div>
</template>
