<template>
  <require from="../resources/value-converters/num"></require>
  <require from="../resources/custom-attributes/bootstrap-tooltip"></require>

  <div if.bind="repo" class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-default hover-card">
      <div class="ribbon-wrapper">
        <div class="ribbon">${repo.language}</div>
      </div>
      <div class="card-header">
        <div class="lang-logo">
          <span if.bind="repo.language !== null">
            <img src="img/language-icons/${repo.language.toLowerCase()}.svg" onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
          </span>
          <span if.bind="repo.language === null">
            <img src="img/language-icons/default.svg">
          </span>
        </div>
        <div class="card-title multiline">
          <a href="#" route-href="route:project-details; params.bind: {id:repo.id}" title="${repo.project_name}">${repo.project_name}</a>
        </div>
        <div class="org-name">${repo.language}</div>
      </div>
      <div class="proj-desc multiline">${repo.project_description}</div>
      <div bootstrap-tooltip class="text-muted last-updated">By <a href="https://github.com/${repo.organization}" data-toggle="tooltip" data-placement="top" title="View ${repo.organization}'s Github page">${repo.organization}</a> &nbsp; | &nbsp; Updated 6 hours ago <span class="pull-right"><i class="material-icons">public</i> Public</span></div>
      <div class="row github-stats">
        <div class="col-md-4 col-sm-4">
          <span class="stat">
            <span class="octicon octicon-star"></span>
            <span class="num text-muted text-emphasized">${repo.stars | num}</span>
            <span class="stat-label">stars</span>
          </span>
          <span class="stat">
            <span class="octicon octicon-organization"></span>
            <span class="num text-muted text-emphasized">${repo.contributors | num}</span>
            <span class="stat-label">contributors</span>
          </span>
        </div>
        <div class="col-md-4 col-sm-4">
          <span class="stat">
            <span class="octicon octicon-eye"></span>
            <span class="num text-muted text-emphasized">${repo.watchers | num}</span>
            <span class="stat-label">watchers</span>
          </span>
          <span class="stat">
            <span class="octicon octicon-git-commit"></span>
            <span class="num text-muted text-emphasized">${repo.commits | num:1}</span>
            <span class="stat-label">commits</span>
          </span>
        </div>
        <div class="col-md-4 col-sm-4">
          <span class="stat">
            <span class="octicon octicon-tag"></span>
            <span class="num text-muted text-emphasized">${repo.releases | num}</span>
            <span class="stat-label">releases</span>
          </span>
          <span class="stat">
            <span class="octicon octicon-repo-forked"></span>
            <span class="num text-muted text-emphasized">${repo.forks | num}</span>
            <span class="stat-label">forks</span>
          </span>
        </div>
      </div>

      <div class="row card-links clearfix">
        <ul class="list-inline pull-left">
          <li><a href="#" click.trigger="openModal(repo)"><i class="material-icons">library_books</i> Show README</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="#" bootstrap-tooltip data-toggle="tooltip" data-placement="top" title="Share"><i class="material-icons">share</i></a></li>
          <li><a href="#" bootstrap-tooltip data-toggle="tooltip" data-placement="top" title="Bookmark"><i class="material-icons">bookmark_border</i></a></li>
        </ul>
      </div>

      <a class="card-link" href="#" route-href="route:project-details; params.bind: {id:repo.id}" title="${repo.project_name}"></a>
    </div>
  </div>
</template>
