<template>
  <require from="../resources/value-converters/num"></require>
  <require from="../resources/value-converters/ago"></require>
  <require from="../resources/custom-attributes/bootstrap-tooltip"></require>

  <div if.bind="repo" class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-search hover-card">
      <div class="row">
        <div class="col-lg-8">
          <div class="card-header">
            <div tabindex="0" class="lang-logo" role="img" aria-label="Language icon ${repo.language}">
              <img alt="Language icon ${repo.language}" if.bind="repo.organization != 'foundation'" src.bind="language_image">
              <img if.bind="repo.organization == 'foundation'" src="img/language-icons/foundation.svg" onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
            </div>
            <div class="card-title multiline">
              <a id="card-search-title-link-${repo.id}" href="#" route-href="route:project-details; params.bind: {id:repo.id}" aria-label="Project name: ${repo.project_name}" innerhtml.bind="repo.highlight.project_name ? repo.highlight.project_name : repo.project_name"></a>
            </div>
            <div tabindex="0" class="org-name">${repo.language ? repo.language : stageConfig.NO_LANG}</div>
          </div>
          <div tabindex="0" class="proj-desc multiline" innerhtml.bind="repo.highlight.project_description ? repo.highlight.project_description : repo.project_description"></div>
          <div class="text-muted last-updated clearfix"><span aria-hidden="true">By&nbsp;</span><a id="card-search-organization-link-${repo.id}" href="#" click.trigger="openLeavingSiteConfirmation(repo.organization,repo.organizationUrl,$event.target)" bootstrap-tooltip data-toggle="tooltip" data-placement="top" aria-label="Project organization: ${repo.organization}, view on GitHub." target="_blanks"><span id="card-search-organization-link-text-${repo.id}">${repo.organization}</span></a> &nbsp; | &nbsp; <span tabindex="0" id="card-search-organization-updated-text-${repo.id}">Updated ${repo.updatedAt | ago}</span> <span class="pull-right repo-status"><i class="material-icons" aria-hidden="true">${repo.origin == 'PUBLIC' ? 'public' : 'business'}</i><span tabindex="0" id="card-search-organization-origin-text-${repo.id}">${repo.origin}</span></span></div>
        </div>

        <div class="col-lg-4 col-github-stats">
          <div class="card-stats lined-header">
            <span class="pull-right">
              <em class="text-muted">Source:
                <a if.bind="infected_files == 0" id="card-search-project-status-link-${repo.id}" href="#" click.trigger="openLeavingSiteConfirmation(repo.project_name,repo.repositoryUrl,$event.target)"  target="_blank" aria-label="View source code on Github.">Github™</a>
                <a if.bind="infected_files > 0" id="card-popular-project-status-link-${repo.id}" href="#" click.trigger="displayVScanDialog(repo,$event.target)"  target="_blank" aria-label="View source code on Github.">Github™</a>
              </em>
            </span>
            <h4 tabindex="0" class=""><span>Project Stats</span></h4>
          </div>
          <div class="row github-stats">
            <div class="col-md-6 col-sm-6">
              <span class="stat" tabindex="0" aria-label="${repo.stars} stars">
                <span class="octicon octicon-star" aria-hidden="true"></span>
                <span id="card-search-project-stars-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${repo.stars | num}</span>
                <span class="stat-label" aria-hidden="true">stars</span>
              </span>
              <span class="stat" tabindex="0" aria-label="${repo.contributors} contributors">
                <span class="octicon octicon-organization" aria-hidden="true"></span>
                <span id="card-search-project-contributors-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${repo.contributors | num}</span>
                <span class="stat-label" aria-hidden="true">contributors</span>
            </span>
            <span class="stat" tabindex="0" aria-label="${repo.watchers} watchers">
              <span class="octicon octicon-eye" aria-hidden="true"></span>
              <span id="card-search-project-watchers-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${repo.watchers | num}</span>
              <span class="stat-label" aria-hidden="true">watchers</span>
            </span>
            <span class="stat" tabindex="0" aria-label="${downloads} dowloads">
                <span class="octicon octicon-cloud-download" aria-hidden="true"></span>
                <span id="card-search-project-downloads-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${downloads | num}</span>
                <span class="stat-label" aria-hidden="true">downloads</span>
              </span>
          </div>
          <div class="col-md-6 col-sm-6">
            <span class="stat" tabindex="0" aria-label="${repo.commits} commits">
              <span class="octicon octicon-git-commit" aria-hidden="true"></span>
              <span id="card-search-project-commits-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${repo.commits | num:1}</span>
              <span class="stat-label" aria-hidden="true">commits</span>
            </span>
            <span class="stat" tabindex="0" aria-label="${releases.length} releases">
              <span class="octicon octicon-tag" aria-hidden="true"></span>
              <span id="card-search-project-releases-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${releases.length | num}</span>
              <span class="stat-label" aria-hidden="true">releases</span>
            </span>
            <span class="stat" tabindex="0" aria-label="${repo.forks | num} forks">
              <span class="octicon octicon-repo-forked" aria-hidden="true"></span>
              <span id="card-search-project-forks-${repo.id}" class="num text-muted text-emphasized" aria-hidden="true">${repo.forks | num}</span>
              <span class="stat-label" aria-hidden="true">forks</span>
            </span>
            <span class="${infected_files>0 ? ' stat-vscan' : 'stat'}" tabindex="0" aria-label="${infected_files | num} infected files">
                <span class="octicon ${infected_files>0?'octicon-bug':'octicon-check'}" aria-hidden="true"></span>
                <span id="card-search-project-infected-files-${repo.id}" class="num ${infected_files>0? '' : ' text-muted text-emphasized'}" aria-hidden="true">${infected_files | num}</span>
                <span class="stat-label" aria-hidden="true">viruses</span>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row card-links">
      <ul class="list-inline clearfix">
        <li><a id="card-search-project-open-readme-${repo.id}" href="#" click.trigger="openReadmeModal(repo,$event.target)"><em class="search-highlight"><i class="material-icons" aria-hidden="true">library_books</i> Show README</em></a></li>
        <li><a class="disabled hide"><i class="material-icons">bookmark_border</i> Bookmark</a></li>
        <li><a class="disabled hide"><i class="material-icons">share</i> Share</a></li>
        <li class="pull-right"><a route-href="route:project-details; params.bind: {id:repo.id}" aria-label="Go to project details">Go to Details<i class="material-icons" aria-hidden="true">chevron_right</i></a></li>
      </ul>
    </div>

    <a class="card-link" href="#" route-href="route:project-details; params.bind: {id:repo.id}" aria-label="Go to project details">&nbsp;</a>
  </div>
</template>
