<template>
  <require from="../resources/value-converters/num"></require>
  <require from="../resources/value-converters/ago"></require>
  <require from="../resources/custom-attributes/bootstrap-tooltip"></require>

  <div if.bind="repo" class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-search hover-card">

      <div class="ribbon-wrapper">
        <div class="ribbon">Gamification</div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card-header">
            <div class="lang-logo">
              <img src="img/language-icons/${repo.language.toLowerCase() ? repo.language.toLowerCase() : 'default'}.svg" onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
            </div>
            <div class="card-title multiline"><a href="#" route-href="route:project-details; params.bind: {id:repo.id}" title="${repo.project_name}">${repo.project_name}</a></div>
            <div class="org-name">${repo.language}</div>
          </div>
          <div class="proj-desc multiline">${repo.project_description}</div>
          <div class="text-muted last-updated clearfix">By <a href="https://github.com/${repo.organization}" bootstrap-tooltip data-toggle="tooltip" data-placement="top" title="View on Github" target="_blanks">${repo.organization}</a> &nbsp; | &nbsp; Updated ${repo.updatedAt | ago} <span class="pull-right repo-status"><i class="material-icons">${repo.origin == 'PUBLIC' ? 'public' : 'business'}</i> ${repo.origin}</span></div>
        </div>

        <div class="col-lg-4 col-github-stats">
          <div class="row github-stats">
            <div class="col-md-6 col-sm-6">
              <span class="stat">
                <span class="octicon octicon-star"></span>
                <span class="num text-muted text-emphasized">${repo.stars | num}</span>
                <span class="stat-label">stars</span>
              </span>
              <span class="stat">
                <span class="octicon octicon-organization"></span>
                <span class="num text-muted text-emphasized">${repo.contributors | num}</span>
                <span class="stat-label">contributors</span>
            </span>
            <span class="stat">
              <span class="octicon octicon-eye"></span>
              <span class="num text-muted text-emphasized">${repo.watchers | num}</span>
              <span class="stat-label">watchers</span>
            </span>
          </div>
          <div class="col-md-6 col-sm-6">
            <span class="stat">
              <span class="octicon octicon-git-commit"></span>
              <span class="num text-muted text-emphasized">${repo.commits | num:1}</span>
              <span class="stat-label">commits</span>
            </span>
            <span class="stat">
              <span class="octicon octicon-tag"></span>
              <span class="num text-muted text-emphasized">${repo.releases | num}</span>
              <span class="stat-label">releases</span>
            </span>
            <span class="stat">
              <span class="octicon octicon-repo-forked"></span>
              <span class="num text-muted text-emphasized">${repo.forks | num}</span>
              <span class="stat-label">forks</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row card-links">
      <ul class="list-inline clearfix">
        <li><a href="#" click.trigger="openReadmeModal(repo)"><i class="material-icons">library_books</i> Show README</a></li>
        <li><a href="#"><i class="material-icons">bookmark_border</i> Bookmark</a></li>
        <li><a href="#"><i class="material-icons">share</i> Share</a></li>
        <li class="pull-right"><a route-href="route:project-details; params.bind: {id:repo.id}">Go to Details <i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>

    <a class="card-link" href="#" route-href="route:project-details; params.bind: {id:repo.id}"></a>
  </div>
</template>
