<template>
  <require from="../resources/value-converters/num"></require>
  <require from="../resources/value-converters/ago"></require>
  <require from="../resources/custom-attributes/bootstrap-tooltip"></require>
  <div if.bind="repo" class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-default hover-card" id="fake-card">
      <div class="ribbon-wrapper">
        <div tabindex="0" class="ribbon join-us" role="img" aria-label="Featured ribbon image.">JOIN US!</div>
      </div>
      <div class="card-header">
        <div tabindex="0" class="lang-logo" role="img" aria-label="Language icon ${repo.language}">
          <img alt="Language icon ${repo.language}" src="img/language-icons/default.svg"
            onError="this.onerror=null;this.src='/img/language-icons/default.svg';">
        </div>
        <div class="card-title multiline">
          <span id="card-feature-title-link-card-fake"
            aria-label="Project name: ${repo.project_name}">${repo.project_name}</span>
        </div>
        <div tabindex="0" class="org-name">${repo.language ? repo.language : stageConfig.NO_LANG}</div>
      </div>
      <div tabindex="0" class="proj-desc multiline">${repo.project_description}</div>
      <div class="text-muted last-updated"><span aria-hidden="true">By&nbsp;</span> <span
          id="card-feature-organization-link-card-fake" >${repo.organization}</span> &nbsp; |
        &nbsp; <span tabindex="0" id="card-feature-organization-updated-text-card-fake">${repo.updatedAt}</span> <span
          class="pull-right repo-status"><i class="material-icons" aria-hidden="true">${repo.origin == 'PUBLIC' ?
            'public' : 'business'}</i> <span tabindex="0"
            id="card-feature-organization-origin-text-card-fake">${repo.origin}</span></span></div>

      <div class="card-stats lined-header">
        <span class="pull-right"><em class="text-muted">Source: <span id="card-feature-project-status-link-card-fake"
              >Github™</span></em></span>
        <h4 tabindex="0" class="" aria-label="Project Stats">Project Stats</h4>
      </div>

      <div class="row github-stats row-1">
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${repo.stars} stars">
            <span class="octicon octicon-star" aria-hidden="true"></span>
            <span id="card-feature-project-stars-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">${repo.stars}</span>
            <span class="stat-label" aria-hidden="true">stars</span>
          </span>
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${repo.watchers} watchers">
            <span class="octicon octicon-eye" aria-hidden="true"></span>
            <span id="card-feature-project-watchers-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">${repo.watchers}</span>
            <span class="stat-label" aria-hidden="true">watchers</span>
          </span>
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${releases.length} releases">
            <span class="octicon octicon-tag" aria-hidden="true"></span>
            <span id="card-feature-project-releases-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">?</span>
            <span class="stat-label" aria-hidden="true">releases</span>
          </span>
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${repo.forks} forks">
            <span class="octicon octicon-repo-forked" aria-hidden="true"></span>
            <span id="card-feature-project-forks-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">?</span>
            <span class="stat-label" aria-hidden="true">forks</span>
          </span>
        </div>
      </div>

      <div class="row github-stats row-2">
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${repo.contributors} contributors">
            <span class="octicon octicon-organization" aria-hidden="true"></span>
            <span id="card-feature-project-contributors-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">${repo.contributors}</span>
            <span class="stat-label" aria-hidden="true">contributors</span>
          </span>
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${repo.commits} commits">
            <span class="octicon octicon-git-commit" aria-hidden="true"></span>
            <span id="card-feature-project-commits-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">${repo.commits}</span>
            <span class="stat-label" aria-hidden="true">commits</span>
          </span>
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="stat" tabindex="0" aria-label="${downloads} downloads">
            <span class="octicon octicon-cloud-download" aria-hidden="true"></span>
            <span id="card-feature-project-downloads-card-fake" class="num text-muted text-emphasized"
              aria-hidden="true">?</span>
            <span class="stat-label" aria-hidden="true">downloads</span>
          </span>
        </div>
        <div class="col-md-3 col-sm-3">
          <span class="${infected_files>0?'stat-vscan':'stat'}" tabindex="0" aria-label="${infected_files} infected files">
            <span class="octicon ${infected_files>0?'octicon-bug':'octicon-check'}" aria-hidden="true"></span>
            <span id="card-popular-project-infected-files-${repo.id}" class="num ${(infected_files>0)?'':' text-muted text-emphasized'}" aria-hidden="true">?</span>
            <span class="stat-label" aria-hidden="true">viruses</span>
          </span>
        </div>
      </div>

      <div class="row card-links clearfix">
        <div class="card-fake-bottom">
          <span class="button-lead button-lead-card">JOIN OUR COMMUNITY!</span>
          <button class="btn btn-yellow" click.delegate="router.navigateToRoute('repopublishing')">Connect Your
            Repo</button>
        </div>
      </div>
      <a class="card-link" href="#" route-href="route:repopublishing" aria-label="Open details for project ${repo.project_name}">&nbsp;</a>
    </div>
  </div>
</template>