<template>
  <div if.bind="data && isVisible" class.bind="!isClosed ? 'engpopup_wrapper':'engpopup_wrapper engpopup_hide'">
    <a class="engpopup_close" click.delegate="close()">
      <span style.bind="'color:'+data.controlsColor+';text-shadow: 0px 0px 2px '+data.controlsShadow" class="octicon octicon-x" aria-hidden="true"></span>
    </a>
    <div class="engpopup_content" innerhtml.bind="data ? data.content : ''"></div>
    <div class="engpopup_noshow">
      <input type="checkbox" checked.bind="noShowChecked" click.delegate="noShowClicked($event)">
      <span style.bind="'color:'+data.controlsColor+';text-shadow: 0px 0px 2px '+data.controlsShadow">Click here if you would like to stop seeing this message</span>
    </div>
  </div>
</template>