{
  "parser": "babel-eslint",
  "rules": {
    "no-alert": 0,
    "import/prefer-default-export" : 0, // Breaks with Aurelia
    "import/no-unresolved" : 0, // JSPM packages arent detected yet
    "import/no-extraneous-dependencies" : 0, // JSPM packages arent detected yet
    "max-len" : 0, // Aurelia route formats tend to be very long
    "no-param-reassign" : 0, // Aurelia convention
    "no-unused-vars" : 0, // Importing jQuery libraries show as unused
    "no-restricted-syntax": 0 // Currently don't have a better way to iterate through objects so we are using for...in
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base"
}
