.card-aside .card-header,
.card-detail .card-header{
	border-bottom: 1px solid #ffffff;
}

.card-aside .card-header h2{
	text-transform: uppercase;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

.media-list-users .list-group-item {
  margin-top: 0;
  padding: 15px;
  background-color: transparent;
  /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border: none;
  border-bottom: 1px solid #ffffff;
}

.media-list-users .list-group-item:last-child{
	border: none;
}

.media-list-users .media-object {
  width: 42px;
  margin-right: 5px;
  border-radius: 100%;
}
.media-list-users .media-body-secondary {
  color: #536570;
}
.media-list-users .media-body p:last-child {
  margin-bottom: 0;
}

.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}

.img-circle {
  border-radius: 50%;
}

.media-list-stream .media.list-group-item {
  margin-top: 0;
}
.media-list-stream .media-body-inline-grid {
  width: 100%;
}
.media-list-stream .media-body-inline-img,
.media-list-stream .media-body-inline-grid {
  margin: 20px 0 25px;
}
.media-list-stream .media-body-inline-grid img,
.media-list-stream .media-body-inline-img {
  max-width: 100%;
}
.media-list-stream .media-object {
  width: 42px;
  margin-right: 5px;
}
.media-list-stream .media-body .media-list .media-object {
  width: 40px;
}
.media-list-stream .media-list .media-object {
  display: none;
}
.media-list-stream .media-object {
  border-radius: 100%;
}
.media-list-stream .media .text-muted a {
  color: #9da9b0;
  font-weight: 700;
}
.media-list-stream .media-body-actions {
  margin-top: 5px;
}
.media-list-stream .media-heading > h5 {
  margin-bottom: 0;
  margin-top: 5px;
}

.proj-details .card{
  min-height: 350px;
}

.card-detail .flex{
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
	.media-list-stream .media-object {
	    width: 60px;
	}
}