/* Search Results Component */
/* components/search-results */

.results-header{
  margin-bottom: 0;
}

.card-search{
  min-height: initial;
}

.card-search h2{
  margin-top: 1;
}

.card-search h2 .repo-name{
  width: 100%;
}

.card-search h2 .repo-name .fa{
  position: absolute;
  top: 15px;
  margin-left: 15px;
  color: #ffffff;
}

.card-search h2 .card-icon{
  position: absolute;
}

.card-search .card-header{
  min-height: initial;
}

.card-search .card-footer{
  border-top: none;
  justify-content: flex-start;
  padding: 0 10px;
}