.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  margin-top: 50px;
  box-shadow: 2px 2px 4px black;
  display: none;
  text-align: center;
}
.container > h1 > img{
  height: 30px;
  margin-right: 10px;
}
.container > p {
  margin: 0px;
}
.container-browsers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.container-browsers > div > a > img {
  height: 40px;
}
.container-browser-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.mark {
  border: solid 1px gray;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  width: 40px;
}
